body{
  /* background-image: url(./bookss.jpg); */
  background-size: cover;
  overflow: hidden;
  animation-direction: 1s 1;
  padding-top:10px;
  /* -moz-text-decoration-color: white; */
}
input{
    border-color: rgb(5, 118, 146);
    border-radius: 30px;
    padding-left: 20px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;  
    height: 30px;
    width: 200px;
    outline:none;
}
.select {
    border-radius: 20px;
    color: black;
    margin-left: 20px;

}
.container {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@keyframes body {
    20% {
        opacity: 10%;
    }
    80% {
        opacity: 90%;
    }
}
#btn {
  background-color: rgb(227, 227, 227);
  color: rgb(0, 0, 0);
  padding: 6px 20px;
  cursor: pointer;
  opacity: 1;
  height: 33px;
  width: 200px;
  opacity: 0.7;
}

#btn:hover {
    opacity: 1;
    height: 35px;
    background: linear-gradient(rgb(169, 169, 169), rgb(56, 56, 56));
    -moz-text-decoration-color: azure;
}

#search {
  margin-left: 20px;
  height: 34px;
  color: rgb(108, 108, 108);
  
}
#search:hover {
  background: linear-gradient(rgb(182, 181, 181), rgb(121, 121, 121));
}

li a {
    display: block;
    /* color: rgb(253, 253, 253); */
    padding: 6px 5px;
    text-decoration: none;
    border-radius: 10px;
}

li a:hover {
    background-color: rgb(110, 109, 108);
   /* color: white; */
    border-radius: 10px;
}
h1 {
    size:30px;
   /* color: white; */
}
h6 {
    size:30px;
   /* color: white; */
}
.row {
   /* color: white; */
}
.a {
    outline-color: white;
   /* color: white; */
}
.logo {
    height: 100px;
    width: auto;
    position: relative;
}

.current-page{
    background-color: rgb(74, 179, 65);
   /* color: white; */
    border-radius: 10px;
}
.text-box{
    margin-bottom: 10px;
    outline: none;
}

@keyframes text {
    20%  {
       /* color: white; */
        margin-bottom: -30px;
    }
    30% {
        color: lightgreen;

        letter-spacing:6px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 0px;
        margin-bottom: -40px;
    }
}
.common-button {
    background-color: rgb(77, 255, 210);
    color: rgb(0, 0, 0);
    padding: 4px 15px;
    border: none;
    cursor: pointer;
    opacity: 1;
    margin-left: 20px;
  }
.btn cancel {
    background-color: rgb(77, 255, 210);
    color: rgb(199, 199, 199);
    padding: 4px 15px;
    border: none;
    cursor: pointer;
    opacity: 1;
    margin-left: 20px;
    height: 20px;
  }
.btn cancel
  #myForm {
    position: top;
  }
    
  .form-popup {
    display: none;
    position: top;
    bottom: 0;
    right: 15px;
    border-radius: 10px;
    z-index: 9;
  }
  .form-signup {
    display: none;
    position: top;
    bottom: 0;
    right: 15px;
    border-radius: 10px;
    z-index: 10;
  }
    .form-container {
    max-width: auto;
    padding: 5px;
    background-color: rgb(158, 158, 158);
    position: relative;
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: rgb(92, 92, 92);
    height: 30px;
    margin-left: 15px;

  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: rgb(105, 105, 105);
    outline: none;
    height: 30px;
    padding: 15px;
    width: 95%
  }
.label {
    margin-left: 15px;
  }
  
  .form-container .btn {
    background-color:rgb(122, 122, 122);
    opacity: 0.5;
   /* color: white; */
    padding: 8px 5px;
    border: none;
    cursor: pointer;
    width: 95%;
    margin-bottom:5px;
    opacity: 0.8;
    margin-left: 15px;

  }

  .form-container .btn:hover, .open-button:hover {
    opacity:1;
    width: 95%;
    background-color: black;
  }
  input[type=text], input[type=password] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.5s;
  }
b {
  color: rgb(0, 0, 0);
  margin-left: 20px;
}


.price {
  color: grey;
  font-size: 22px;
  border-radius:10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(0, 0, 0);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius:10px;
}
#btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(0, 0, 0);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius:10px;
}

.card button:hover {
  opacity: 0.7;
}
.iframe{
  height: 100%;
  width: 50%;
}